.new-order-container {
  width: 100%;
  margin-top: 60px;
  background: #fff;
}
.new-order-tbl {
  width: 100%;
  border-collapse: collapse;
}
.new-order-tbl thead {
  background: #251a14;
  color: #fff;
}
.new-order-tbl thead tr th {
  font-size: 15px;
  font-weight: 300;
  padding: 0.8rem;
  vertical-align: top;
  border: 1px solid #aab7b8;
}
.new-order-table-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
.new-order-tbl tbody tr td {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #aab7b8;
  padding: 0.8rem;
}
.new-order-qa {
  height: auto;
  width: 400px;
}
.new-order-tbl tr:nth-child(even) {
  background: #f0efeb;
  transition: all 0.3s ease-in;
}

.new-order-tbl button {
  display: inline-block;
  margin: 0 auto;
  padding: 0.4rem;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.new-order-btn-status {
  color: #fff;
  background: #3633bb;
}
.new-order-shipped {
  background-color: lightskyblue;
}
.new-order-processing {
  background-color: lightcoral;
}
@media (max-width: 768px) {
  .new-order-tbl thead {
    display: none;
  }
  .new-order-tbl tr,
  .new-order-tbl td {
    display: block;
    width: 100%;
  }
  .new-order-tbl tr {
    margin-bottom: 1rem;
  }
  .new-order-tbl tbody tr td {
    text-align: right;
    position: relative;
    transition: all 0.2s ease-in;
    padding-left: 40%;
  }
  .new-order-tbl td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.2rem;
    text-align: left;
    margin-right: 20px;
  }
  .new-order-tbl tbody tr td:hover {
    background: #ccc;
    color: #000;
  }
  .new-order-tbl_content {
    padding: 1rem;
  }
}
